/*
<link rel="preload" href="%PUBLIC_URL%/fonts/WorkSans/worksans-bold-webfont.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/WorkSans/worksans-medium-webfont.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/WorkSans/worksans-regular-webfont.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/WorkSans/worksans-semibold-webfont.woff2" as="font" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/fonts/WorkSans/font.css">
*/

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal; /*400*/
  font-display: swap;
  src: url(../../3d45de00bf60e7b4d551.woff2) format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../3d45de00bf60e7b4d551.woff2) format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../3d45de00bf60e7b4d551.woff2) format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold; /*700*/
  font-display: swap;
  src: url(../../3d45de00bf60e7b4d551.woff2) format("woff2");
}
/*
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Light_Italic.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Light.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Regular_Italic.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Regular.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Medium.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/Marianne/Marianne-Bold_Italic.woff2" as="font" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/fonts/Marianne/font.css">
*/

@font-face {
  font-family: Marianne;
  src: url(../../ec511194ada150bb125b.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Marianne;
  src: url(../../3126003b30db67fbd722.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url(../../8d56623251c91850c391.woff2) format("woff2");
  font-weight: normal; /*400*/
  font-style: normal;
}
@font-face {
  font-family: Marianne;
  src: url(../../cb6e9e65d080821f6f34.woff2) format("woff2");
  font-weight: normal; /*400*/
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src: url(../../05b552bd5e02d12ee2c4.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src: url(../../587c38a95505e01fc050.woff2) format("woff2");
  font-weight: bold /*700*/;
  font-style: normal;
}
@font-face {
  font-family: Marianne;
  src: url(../../192ebcfeb7a4077cce3d.woff2) format("woff2");
  font-weight: bold; /*700*/
  font-style: italic;
}

.onyxia-ui_tools_lazy-svg_fade-in_effect {
  opacity: 0;
  animation: fadeIn 0.1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.dd01a5a3.css.map*/